@media all and (max-width: 640px) {
  #portfolio.main__screen_2 {
    .screen__slider {
      flex-flow: column;
      .slider__item {
        height: 12.5%;
        width: 100%;

        &:hover {
          flex-basis: 300%!important;
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  
  #header {
    justify-content: space-between!important;
    padding: 4px 40px;

    .header__logo {
      height: 25px;
      margin: 5px 10px 5px 0px;
    }

    .header__burger {
      display: block;
    }

    .header__navbar {
      position: absolute;
      top: -300px;
      left: 0;
      text-align: center;
      margin-top: 60px;
      width: 100%;
      background-color: $transparent-dark;
      border: 1px solid $gold-light;
      transition: all ease 1s;
      z-index: -2;
      .navbar__nav {
        flex-direction: column;
        .navbar__item {
          padding: 5px;
        }
      }
    }

    .header__navbar.active {
      top: 0;
    }

  }

  #home.main__screen_1 {
    background: url("../images/bg-size.jpeg") no-repeat 100% 100%!important;
    background-size: cover;

    .screen__block_left {
      justify-content: center!important;
    }

    .screen__header {
      width: 90%!important;
    }
  }

  #about.main__screen_5 {
    background: none;
    background-color: $silver;

    .about__wrap {
      width: 100%;
      font-size: 1.2em;
      text-align: center;
    }
  }
}

@media all and (max-width: 1024px) {
  #home.main__screen_1 {
    .screen__header {
      h1 {
        font-size: 2em;
      }
    }
  }
}


@media all and (max-width: 768px) {
  #price.main__screen_3 {
    .price__cost {
      flex-direction: column!important;
      .price__wrap {
        width: 100%;
        header {
          h2 {
            font-size: 1em!important;
          }
        }
        section {
          span {
            font-size: 0.8em!important;
          }
        }
      }
    }
  }

  #about.main__screen_5 {
    .about__wrap {
      font-size: 1em;
    }
  }

  .main__screen_6 {
    .footer__info {
      justify-content: center!important;
      .footer__logo {
        display: none;
      }

    }
  }
}

@media (min-height: 900px) and (max-height: 1366px) {
  #about.main__screen_5 {
    .about__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .about__logo {
        display: block;
      }

      .about__text {
        width: 90%;
      }
    }
  }
}