.screen__slider {
  margin: auto auto;
  width: 100vw; 
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  
  li {
    position: relative;
    display: block;
    width: 5vw;
    float: left;
    border-left: 1px solid #888;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;

    &:hover {
      width: 40vw;
    }
  }

  img{
    display: block;
    width: 40vw;
    height: 102vh;
  }    
}