.screen__slider {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 98vw;
  margin: 2vh auto;

  &:hover {
    li {
      &:nth-child(4) {
        width: 50px;
      }
    }
  }

  li {
    float:left;
    width: 50px;
    overflow: hidden;
    padding: 1px 1px 0;
    cursor:pointer;
    display:block;
    box-shadow:1px 3px 15px #7e807e;
    transition: all 1.5s;

    &:hover {
      width:600px;
      box-shadow:1px 5px 15px #565756;
      transition: all 1s;
    }

    &:nth-child(4) {
      width:600px;
      
      &:hover {
        width:600px;
      }
    }
  }

  img{
    width: 100%;
    height: 105%;
  }    
}