@import 'color.scss';
@import 'fonts.scss';
@import 'slider.scss';
@import 'media-queries.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: $transparent-gray;
  top: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  color: $gold;
  z-index: 1;
}

.header__background {
  position: absolute;
  background-color: $transparent-gray;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: -1;
}

.header__logo {
  height: 30px;
  margin: 9px 5px 5px 28px;
}

//burger-button with animation
.header__burger {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  background-color: $transparent-gray;
  box-shadow: 0 0 1px 1px $gold-light;
  border-radius: 3px;
  border: none;
  
  &:hover {
    box-shadow: 0 0 1px 1px $gold;
  }

  &:focus {
    outline: none;
  }
}

.header__burger span, .header__burger span::before, .header__burger span::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: $gold;
}

.header__burger span::before, .header__burger span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0s, 0.3s;
}

.header__burger.active span::before {
  top: 0;
  transform: rotate(-45deg);
}

.header__burger.active span {
  background: none;
}

.header__burger.active span::after {
  bottom: 0;
  transform: rotate(45deg);
}

.header__burger.active span::before, .header__burger.active span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0s, 0.3s;
}

.header__burger span {
  top: 14px;
  left: 5px;
}

.header__burger span::before {
  top: 6px;
}

.header__burger span::after {
  bottom: 6px;
}

.navbar__nav {
  display: flex;
  margin: 0;
}

.navbar__item {
  margin: 0 15px;
  list-style-type: none;
}

.navbar__link {
  color: $gold;
  &:hover {
    color: $black;
  }
}

#main {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.main__screen  {
  font-family: 'Montserrat-Regular', sans-serif;
  width: 100%;
  height: 100vh;
  /* Scroll Snap */
  scroll-snap-align: center;
}

.screen__wrap {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 60px;
  height: 100vh;
}

.screen__block_left {
  width: 100%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.screen__header {
  text-align: center;
  height: fit-content;
  width: 55%;
  h1 {
    font-family: 'Montserrat-Bold', sans-serif;
    text-align: center;
    font-size: 3.2em;
    color: $gold;
  }

  p {
    font-size: 1.2em;
    color: $gold;
  }
}

.screen__logo {
  margin-bottom: 40px;
  width: 45%;
	animation: pulse 4s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

.screen__scroll {
  width: 15vh;
  animation: pulse-blinking 4s infinite;
}

@keyframes pulse-blinking {
	0% {
    transform: scale(0.95);
    opacity: 1;
	}

	70% {
    transform: scale(1);
    opacity: 0.2;
	}

	100% {
    transform: scale(0.95);
    opacity: 1;
	}
}

.main__screen_1 {
  background: url("../images/background.jpeg") no-repeat center center;
  background-size: cover;
  color: $white;
}

.main__screen_2 {background: $gold-dark;}
.main__screen_3 {
  background: $gold-dark;
  .price {
    width: 100%;
    .price__logo {
      display: flex;
      justify-content: center;
      img {
        height: 10vh;
        margin: 20px auto;
      }
    }

    .price__cost {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px;
      border: 1px solid;
      border-image-slice: 1;
      border-width: 1px;
      border-image-source: linear-gradient(to left, $gold, $gold-light);
      color: $white;
      margin: 0 30px;
      height: fit-content;
      .price__wrap {
        width: 45%;
        margin-bottom: 5px;
        header, section {
          display: flex;
          justify-content: space-between;
        }
        header {
          color: $gold;
          h2 {
            font-size: 3vi;
          }
        }
        section {
          span {
            font-size: 2.2vi;
          }
        }
      }
    }
  }
}

.main__screen_4 {
  background-color: rgb(238, 238, 238);
}

.main__screen_5 {
  background: url("../images/background-about.jpeg") no-repeat center center;
  background-size: cover;
  color: $white;
  position: relative;
  
  .about__wrap {
    position: absolute;
    top: 15vh;
    right: 0;
    padding: 20px;
    font-size: 1.3em;
    color: black;
    width: 65%;

    .magic-wave {
      color: $black;
      animation: 15s color infinite;
    }
    
    @keyframes color {
      50% {
        color: $gold;
      }
    }
  }
  
  .about__logo {
    display: none;
    width: 40%;
    margin-bottom: 40px;
  }

  .about__diploms{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;

    .diplom__border {
      width: 18%;
      box-shadow:
        0px 0px 0px 2px rgba(0,0,0,0.6),
        0px 0px 0px 14px #fff,
        0px 0px 0px 18px rgba(0,0,0,0.2),
        6px 6px 8px 17px #555;

      .diplom {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.main__screen_6 {
  position: relative;
  background: $silver;

  .footer__logo, .social__logo {
    height: 5vh;
    margin: 1vh;
  }

  .footer__info {
    position: absolute;
    bottom: 0;
    height: 8vh;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    a {
      text-decoration: none;
    }
  }
}