#############################
# Configs
#############################

**/.env
.idea/
.env-dev
.DS_Store
node_modules/
build/
/ehealth*

#############################
# Runtime data
#############################

/data*
/backups*