#####################
# Client
#####################
REACT_APP_API_URL=http://localhost:3090

#####################
# Server
#####################
POSTGRES_PASSWORD=qwepoi2207
POSTGRES_USER=niknails
POSTGRES_DB=niknails
POSTGRES_HOST=localhost
# 'localhost' for dev and name of docker container for production

GOOGLE_CLOUD_KEYS_FILE=niknails-...json
GOOGLE_CLOUD_BUCKET=niknails

TELEGRAM_BOT_ID=1539883431:AAHroQYFMQz_zdtZCTYaw6r6e0NYCD641k4
TELEGRAM_CHAT_ID=-1001165226886

JWT_TOKEN=NikNailsQwePoi2207