.form {
  margin-top: 2vh;
}

.buttonGroup {
  margin-top: 6vh;
  display: flex;
  justify-content: center;
}

.selectDropdown {
  text-align: right;
  padding: 5px 10px 2px 10px;
  border-top: 1px solid grey;
}