@import "../../../common/styles/colors.scss";

.modalWrapper {
  padding-top: 5vh;
}

.buttonsWrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat-Regular', sans-serif;
}

.button {
  width: 100%;
  height: 5vh;
}

.buttonChecked {
  color: $transparent-gray!important;
  border: 1px solid $white!important;
  background-color: $gold-light!important;
  user-select: none;
}

.title {
  margin-top: 40px;
  text-align: center;
  border: 1px solid $gold;
}

@media(max-width: 750px) {
  .modal {
    max-width: 70vw;
  }
}