$gold: #eec97c;
$gold-light: #f1e0b9;
$gold-dark: #777370;
$grey: grey;
$white: white;
$beige: #F5F5DC;
$black: #000000;
$silver: #bfb8b7;
$transparent-gray: rgba(128,128,128,0.98);
$transparent-dark: rgba(87, 87, 87, 0.95);