.modalWrapper {
  position: absolute;
  min-width: 43vw;
  top: 13%;
  right: 32%;
  bottom: 10%;
  left: 32%;
  padding: 8vh 3vw 5vh 3vw;
  box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.6);
  background: rgb(255, 255, 255);
}

.buttonWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}